.Input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}
.Label{
    font-weight: 500px;
    display:block;
    margin-bottom: 8px;
    
}
.InputBox{
   outline: none;
   border:1px solid #ccc;
   background-color:#fff;
   font-size:inherit;
   padding:6px 10px;
   display:block; 
   width:100%;
   box-sizing:border-box;
}
 .InputBox:focus{
     outline: none;
     background-color:#ccc;
 }